* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --background-color: #f6f6f6
}


/* start Component  */

.special-header {
    color: #ebeced;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;

}





.special-header+p {
    text-align: center;
    font-size: larger;
    margin-top: -110px;
    margin-bottom: 110px;
    color: #797979;
}

@media (max-width:767px) {

    .special-header {
        font-size: 60px;
        margin-bottom: 60px;
        margin-top: 30px;

    }

    .special-header+p {
        font-size: x-small;
        margin-top: -80px
    }

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work-sans", sans-serif;
    height: 100vh;




    .Container {

        margin-left: auto;
        margin-right: auto;
        /* padding-right: 25%;
        padding-left: 25%; */
        height: 50px;

    }

    @media (min-width:768px) {
        .Container {
            width: 750px;
        }

    }

    @media (min-width:992px) {
        .Container {
            width: 970px;
        }

    }

    @media (min-width:1200px) {
        .Container {
            width: 1170px;
        }

    }



    .header .Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .Container .logo {
        height: 25px;
    }

    .header .Container .links {
        position: relative;
    }

    .header .Container .links .icon {
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        justify-content: flex-end;
        height: 20px;

    }

    .header .Container .links .icon span {
        background-color: #333;
        height: 2px;
        margin-bottom: 2px;
        width: 100%;

    }

    .header .Container .links .icon span:nth-child(2) {
        width: 60%;
        transition: .3s;
    }

    .header .Container .links:hover .icon span:nth-child(2) {
        width: 100%;
    }

    .header .Container .links ul {
        padding-top: 15px;
        list-style: none;
        background-color: #f6f6f6;
        position: absolute;
        right: 0px;
        top: calc(100% + 5px);
        width: 200px;
        padding-left: 25px;
        height: 185px;
        display: none;
        z-index: 2;

    }

    .header .Container .links:hover ul {
        display: block;
    }


    .header .Container .links ul:after {
        content: "";
        position: absolute;
        border: 15px solid;
        border-color: transparent;
        border-bottom-color: #eee;
        top: -30px;
        right: 0px;
    }

    .header .Container .links ul li a {
        text-decoration: none;
        color: #333;
    }

    .header .Container .links ul li {
        display: block;
        height: 25px;
        margin-bottom: 20px;
        margin-left: -25px;
        padding-left: 10px;
        transition: .3s;

    }

    .header .Container .links ul li:hover {
        padding-left: 20px;
    }


    .header .Container .links ul li:not(:last-child) {
        border-bottom: 1px solid #eee;
    }


    /* End of Header  */

    /* landing */

    .Landing {
        background-image: url('../images/background.jpg');
        background-size: cover;
        height: calc(100vh - 25px);
        position: relative;
    }


    .intro-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        text-align: center;
        width: 275px;
        max-width: 100%;

    }

    .head {
        color: var(--main-color);
        font-size: x-large;
    }

    .intro-text p {
        font-size: 19px;
        line-height: 1.5;
    }


    /* features */

    .Features {
        background-color: var(--background-color);
        height: 40%;
    }

    @media (max-width:1199px) {
        .Features {
            height: 120%;
        }
    }



    .Features .Container {

        padding-top: 60px;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;


    }

    .Features .Container .feat {

        text-align: center;
        padding: 20px;

    }

    .Features .Container .feat i {
        color: var(--main-color);
        font-size: xxx-large;

    }

    .Features .Container .feat h3 {
        margin-bottom: 30px;
        margin-top: 50px;
        font-size: 15px;
        font-weight: 800;

    }


    .Features .Container .feat p {
        line-height: 1.8;
        color: #777;
        font-size: 17px;
    }



    /* services */


    .Services {
        padding-top: 30px;
        padding-bottom: 60px;
        height: 100%;
    }


    @media (max-width:991px) {
        .Services {
            height: 105%;
        }

    }



    .Services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;

    }

    .service {
        margin-bottom: 20px;
        display: flex;

    }

    .Services .Container .Services-content .col .service i {
        color: var(--main-color);
        flex-basis: 60px;
    }


    .Services .Container .Services-content .col .service .text {
        flex: 1
    }

    .Services .Container .Services-content .col .service h3 {
        margin-top: 0px;
    }

    .Services .Container .Services-content .col .service p {
        color: #777;
        font-weight: 300;
        line-height: 1.5;
    }


    .Services .Container .Services-content .col .image {
        text-align: center;
        position: relative;
    }

    .Services .Container .Services-content .col .image::after {
        position: absolute;
        content: "";
        background-color: var(--secondary-color);
        height: calc(100% + 100px);
        width: 100px;
        right: 0;
        top: -50px;
        z-index: -1;
    }

    @media (max-width:1199px) {
        .Services .Container .Services-content .col .image {
            display: none;
        }

    }

    .Services .Container .Services-content .col .image img {
        height: 350px;
    }

    /* Portfolio */

    .Portfolio {
        background-color: var(--background-color);
        padding-top: 60px;
        padding-bottom: 60px;
        height: 90%;
    }


    @media (max-width:1199px) {
        .Portfolio {
            height: 170%;
            margin-bottom: 150px
        }
    }

    .Portfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
    }

    .Portfolio .special-header {
        margin-top: 0px;
    }

    .Portfolio-content .card img {
        width: 100%;
    }

    .Portfolio-content .card {
        background-color: white;
    }

    .Portfolio-content .card .text {
        padding: 20px;
    }

    .Portfolio-content .card .text h3 {
        margin: 0px;
    }

    .Portfolio-content .card .text p {
        line-height: 1.6;
        color: #777;
        margin-bottom: 0px;

    }


    /* About */

    .About {
        padding-top: 30px;
        padding-bottom: 60px;
        height: 90%;


    }

    @media (max-width:991px) {
        .About {
            height: 140%;
        }
    }

    .About .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
    }

    @media (max-width:991px) {

        .About .about-content {
            flex-direction: column;
            text-align: center;
        }
    }


    .About .about-content .image {
        width: 250px;
        height: 375px;
        position: relative;
    }

    @media (max-width:991px) {

        .About .about-content .image {
            margin: 0 auto 60px;

        }

    }

    .About .about-content .image img {
        width: 100%;
    }


    .About .about-content .image:before {
        content: "";
        height: calc(100% + 80px);
        width: 100px;
        background-color: #f6f6f6;
        position: absolute;
        top: -40px;
        left: -30px;
        z-index: -1;
    }

    .About .about-content .image::after {
        content: "";
        border-bottom: solid 80px var(--main-color);
        border-left: 80px solid var(--main-color);
        position: absolute;
        height: 300px;
        width: 120px;
        top: -40px;
        right: -150px;
        z-index: -1;
    }


    @media (max-width:991px) {

        .About .about-content .image::after,
        .About .about-content .image:before {
            display: none;
        }

    }

    .About .about-content .text {
        flex: 1;
        margin-left: 200px;

    }

    @media (max-width:991px) {
        .About .about-content .text {
            display: contents;
            margin-left: 0px;
        }
    }

    .About .about-content .text p:first-of-type {

        font-weight: bold;
        line-height: 2;
        margin-bottom: 30px;
    }

    .About .about-content .text hr {
        width: 50%;
        border-color: var(--main-color);
        display: inline-block;

    }

    .About .about-content .text p:last-of-type {
        color: #777;
        line-height: 2;

    }

    /* Contact */

    .Contact {
        background-color: var(--background-color);
        height: 50%;
        margin-bottom: -20px;
    }

    .Contact .Container .info {
        text-align: center;
    }


    .Contact .Container .info .label {
        color: var(--secondary-color);
        font-size: xx-large;
        font-weight: 800;
        letter-spacing: -3px;
    }

    .Contact .Container .info>a {
        text-decoration: none;
        color: var(--main-color);
        font-size: xx-large;
        font-weight: 800;
    }

    .Contact .Container .info .social a {
        color: var(--secondary-color);
        margin-left: 5px;
        text-decoration: none;
    }

    @media (max-width:767px) {

        .Contact .Container .info .label {
            font-size: x-large;
        }

        .Contact .Container .info .mail {
            font-size: x-large;

        }

        .Contact .Container .info .social {
            font-size: small;
            margin-top: 20px;
        }

    }

    /* Footer */

    .footer {
        background-color: var(--secondary-color);
        height: 10%;
    }

    .footer p {
        text-align: center;
        color: var(--background-color);
        line-height: 4.5;
        font-size: larger;
        font-weight: 600;
    }

    .footer p span {
        color: var(--main-color);
    }

}